<!--masonry-layout-->
<section>
    <div class="container-fluid">
        <div class="row masonry-items">

            @if (QuotletsData is not null)
            {
                int totalCount = QuotletsData.Data.Count();
                bool isFinish = false;

                @for (int i = 0; i < totalCount; i++)
                {
                    List<QuotletsModel> quotletsList = new List<QuotletsModel>();
                    QuotletsModel? item1 = null;
                    QuotletsModel? item2 = null;
                    QuotletsModel? item3 = null;

                    item1 = QuotletsData.Data[i];
                    quotletsList.Add(item1);
                    int count = 0;
                    if (i + 1 < totalCount)
                    {
                        item2 = QuotletsData.Data[i + 1];
                        quotletsList.Add(item2);
                        count++;
                    }
                    else
                    {
                        isFinish = true;
                    }
                    if (i + 2 < totalCount)
                    {
                        item3 = QuotletsData.Data[i + 2];
                        quotletsList.Add(item3);
                        count++;
                    }
                    else
                    {
                        isFinish = true;
                    }
                    i += count;
                    if (item1 is not null)
                    {
                        <!--Post-1-->
                        <div class="col-xl-4 col-lg-6 col-md-6 masonry-item">
                            <div class="post-card ">
                                <div class="post-card-image">
                                    <a href="javascript:void(0);">
                                        <img src="@item1.ImageUrl" alt="">
                                    </a>
                                </div>
                                <div class="post-card-content">
                                    <h5 class="entry-title">
                                        @item1.Quotes
                                    </h5>
                                    <Creator UserData="UserData" UserId="item1.UserId"></Creator>
                                </div>
                            </div>
                        </div>
                        <!--/-->
                    }
                    if (item2 is not null)
                    {
                        <!--Post-2-->
                        <div class="col-xl-4 col-lg-6  col-md-6 masonry-item">
                            <div class="post-card">
                                <div class="post-card-image">
                                    <a href="javascript:void(0);">
                                        <img src="@item2.ImageUrl" alt="">
                                    </a>
                                </div>
                                <div class="post-card-content">
                                    <h5 class="entry-title">
                                        @item2.Quotes
                                    </h5>
                                    <Creator UserData="UserData" UserId="item2.UserId"></Creator>
                                </div>
                            </div>
                        </div>
                        <!--/-->
                    }
                    if (item3 is not null)
                    {
                        <!--Post-3-->
                        <div class="col-xl-4 col-lg-6  col-md-6 masonry-item">
                            <div class="post-card">
                                <div class="post-card-image">
                                    <a href="javascript:void(0);">
                                        <img src="@item3.ImageUrl" alt="">
                                    </a>

                                </div>
                                <div class="post-card-content">
                                    <h5 class="entry-title">
                                        @item3.Quotes
                                    </h5>
                                    <Creator UserData="UserData" UserId="item3.UserId"></Creator>
                                </div>
                            </div>
                        </div>
                        <!--/-->
                    }
                }
            }
        </div>
    </div>
</section>
<!--/-->
@if (QuotletsData?.TotalPage > 0)
{
    <div class="text-center" style="margin-top: -40px; padding-bottom: 40px;">
        <MudPagination SelectedChanged="PageChanged" ShowFirstButton="true" ShowLastButton="true"
                       Count="@(Convert.ToInt32(QuotletsData?.TotalPage))"
                       Class="mt-0 pt-0">
        </MudPagination>
    </div>
}

@code {
    [Parameter]
    public string? UserName { get; set; }

    private QuotletsResponseModel? QuotletsData { get; set; }
    private List<UserModel> UserData { get; set; }

    protected override async Task OnParametersSetAsync()
    {
        await Init(1);
    }

    private async Task LoadJavaScript()
    {
        await Task.Delay(1000);
        await JsRuntime.InvokeVoidAsync("loadJs", new string[]
        {
                "assets/js/switch.js",
                "assets/js/main.js"
        }.ToList());
    }

    private async Task PageChanged(int pageNo)
    {
        await Init(pageNo);
    }

    private async Task Init(int pageNo)
    {
        QuotletsData = UserName is null ?
            await Service.GetQuotlets(pageNo) :
            await Service.GetQuotlets(UserName, pageNo);
        UserData = await Service.GetUsers();
        StateHasChanged();
        await LoadJavaScript();
    }
}
